.scrollON {
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.containerCervezas {
    min-height: 100%;
}

.containerCerveza {
    background-image: var(--bg_branch_bottom);
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.containerCubos {
    background-image: var(--bg_branch_top_bottom);
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;

}

.containerEspeciales {
    background-image: var(--bg_branch_top);
    background-size: cover;
    background-repeat: no-repeat;

    min-height: 100vh;
}