/* .scrollON {
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
} */

.fondoimagen1 {
    position: -webkit-sticky;
    position: fixed;

    top: 0;
    width: 100vw;
    min-height: 100vh;

    z-index: 1;
}

.fondoimagen2 {
    background-image: url("../../assets/backgrounds/bgCerveza.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    display: flex;
    justify-content: center;

    top: 0;
    min-height: 100vh;
}

.fondoimagen3 {
    background-image: url("/assets/backgrounds/bgCubos.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    display: flex;
    justify-content: center;

    min-height: 100vh;
}

.logoCerveza {
    height: 21vh;
    position: fixed;
    z-index: 2;
}

.h1Cervezas {
    color: white;

    position: absolute;
    margin: 0;
    top: 20vh;

    font-size: 3rem;
}