.containerBTNfood {
    z-index: 300;
    min-height: 70vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.foodTitle {
    /* position: absolute;
    left: 15vw; */
    color: white;
    text-shadow: var(--borderTitle);
    font-size: 4rem;
    margin-bottom: 2vh;

    text-align: center;
}


.conFlexfood {
    /* margin-top: 20vh; */
    width: 80%;
    
}
.flexTitleFood {
    display: flex;
    justify-content: flex-start;   
    width: 100%;
    margin-right: 20%;
    margin-left: 14%;
}
.flexTitleFoodJQ {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 15px; 
    margin-left: 14%;
}
.titleProductB {
    position: absolute;
    top: 42%;
    left: 12.5vw;

    font-size: 1.6rem;
}
.titleProductB1 {
    position: absolute;
    top: 42%;
    left: 10.5vw;

    font-size: 1.3rem;
}
.flexFinalBB {
    position: absolute;
    top: 55%;
}