.fondoimagen1 {
    position: -webkit-sticky;
    position: fixed;

    top: 0;
    width: 100vw;
    min-height: 100vh;

    z-index: 1;
}

.fondoimagen2 {
    background-image: var(--bg_cervezas);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    display: flex;
    justify-content: center;

    min-height: 100vh;
}

.fondoimagen3 {
    background-image: var(--bg_cubos);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    display: flex;
    justify-content: center;

    min-height: 100vh;
}

.fondoimagen4 {
    background-image: var(--bg_especialesCervezas);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    display: flex;
    justify-content: center;

    min-height: 100vh;
}

.logoCerveza {
    height: 21vh;
    position: absolute;
    z-index: 2;
}

.h1CervezasConLogo {
    font-family: var(--fontFamily);
    color: white;
    text-shadow: var(--borderTitle);

    position: absolute;
    margin: 0;
    top: 25vh;

    font-size: 3.5rem;
}

.h1Cervezas {
    font-family: var(--fontFamily);
    color: white;
    text-shadow: var(--borderTitle);

    position: absolute;
    margin: 0;
    top: 12vh;

    font-size: 3rem;
}

.sectionBotellines {
    margin-top: 40vh;
    z-index: 5;
    
    position: relative;
}

.botellines2 {
    position: relative;
    top: 18vh;
}
.flexcentro {
    display: flex;
    justify-content: center;
}
.flexcubo {
    width: 35vw;
}

.botellines1Precio1 {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    left: 2vw;
    top: -2vh;

    text-shadow: var(--border);
    font-size: 1.5rem;
}
.botellines1Precio2 {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    right: 2vw;
    top: -4vh;

    text-shadow: var(--border);
    font-size: 1.5rem;
}

.botellines2Precio1 {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    top: -4.5vh;
    left: 2vw;

    text-shadow: var(--border);
    font-size: 1.5rem;
}
.botellines2Precio2 {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    top: -7.5vh;
    right: 1vw;

    text-shadow: var(--border);
    font-size: 1.5rem;
}

.botellines3Precio1 {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    bottom: 14vh;
    left: 2vw;

    text-shadow: var(--border);
    font-size: 1.5rem;
}
.botellines3Precio2 {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    bottom: 13vh;
    right: 2vw;

    text-shadow: var(--border);
    font-size: 1.5rem;
}
.botellines4Precio1 {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    bottom: 1vh;
    left: 18vw;

    text-shadow: var(--border);
    font-size: 1.5rem;
}
.botellines4Precio2 {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    bottom: 1vh;
    right: 14vw;

    text-shadow: var(--border);
    font-size: 1.5rem;
}




/* .botellines1Precio {
    display: flex;
    align-items: center;

    color: white;
    text-shadow: var(--border);
    font-size: 1.5rem;
} */


/* .botellines2Precio {
    display: flex;
    align-items: center;

    color: white;
    text-shadow: var(--border);
    font-size: 1.5rem;
} */

/* .botellines3 {
    width: 85vw;
    height: 10vh;

    margin-top: 4vh;

    display: flex;
    justify-content: space-between;
} */

/* .botellines3Precio {
    display: flex;
    align-items: center;

    color: white;
    text-shadow: var(--border);
    font-size: 1.5rem;

    margin-bottom: 1vh;
} */

/* .botellines3Precio1906 {
    display: flex;
    align-items: center;

    color: white;
    text-shadow: var(--border);
    font-size: 1.5rem;

    margin-bottom: 10vh;
} */

.botellines4 {
    width: 85vw;
    /* height: 10vh; */

    /* margin-top: 2vh; */

    /* display: flex; */
    /* justify-content: space-between; */
}

/* .botellines4PrecioFree {
    display: flex;
    align-items: center;

    color: white;
    text-shadow: var(--border);
    font-size: 1.5rem;

    margin-bottom: 5vh;
} */

.imgBotellinesEstrella {
    height: 15vh;
    margin-right: 2vw;
    margin-left: 3vw;
}

.imgBotellinesHeineken {
    height: 15vh;
    margin-left: 2vw;
    margin-top: 2vh;
}

.imgBotellinesVoldDamm {
    height: 15vh;
    margin-right: 2vw;
}

.imgBotellinesCorona {
    height: 15vh;
    margin-left: 2vw;
    margin-top: 3vh;
}

.imgBotellines1906 {
    height: 15vh;
    margin-right: 2vw;
    margin-left: 8vw;
}

.imgBotellinesDesperados {
    height: 15vh;
    margin-left: 3vw;
    margin-top: 2vh;
    margin-right: 3vw;
}

.imgBotellinesDammFree {
    height: 15vh;
    margin-left: 2vw;
    margin-right: 18vw;
}

.imgBotellinesGalicia {
    height: 15vh;
    margin-left: 23vw;
    margin-right: 2vw;
}

/* .scrollON {
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    display: none;
} */


/* ------------------------------------------------------ */

.h1Cubos {
    font-family: var(--fontFamily);
    color: white;
    text-shadow: var(--borderTitle);

    position: absolute;
    margin: 0;
    top: 13vh;

    font-size: 3.5rem;
}

.h3Cubos {
    font-family: var(--fontFamily);
    color: white;
    text-shadow: var(--borderTitle);

    position: absolute;
    margin: 0;
    top: 22vh;

    font-size: 1.5rem;

}

.containerCubos{
    margin-top: 40vh;
    width: 100vw;
    
    position: relative;
}
.flexDere {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    top: -9.8vh;
    left: 9vw;

    width: 100vw;

    text-shadow: var(--border);
    font-size: 1.5rem;

}
.flexIzqui {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;

    position: absolute;
    top: 7vh;
    right: 3vw;

    width: 100vw;

    text-shadow: var(--border);
    font-size: 1.5rem;
}
.flexDere2 {
    display: flex;
    align-items: center;
    color: white;

    position: absolute;
    bottom: 15.8vh;
    left: 4.5vw;

    width: 100vw;

    text-shadow: var(--border);
    font-size: 1.5rem;
}
.imgCuboCoronita {
    height: 23vh;
    margin-right: 3.2vw;
}
.imgCuboDesesperados {
    height: 18vh;
}
.imgCuboHeineken {
    height: 20vh;
    margin-right: 3.2vw;
}