.chupitosContainer { 
    font-family: var(--fontFamily);
    color: white;
    text-shadow: var(--border);

    display: flex;
    flex-direction: column;
    
    margin-top: 12%;     /* @Media para los telefonos chiquitos */ 
    position: relative;
}
.h1CocktailsSpecialsConLogo2 {
    font-family: var(--fontFamily);
    color: white;
    text-shadow: var(--borderTitle);

    text-align: center;

    margin-top: 3vh;

    font-size: 2.8rem;
}
.producto1Chupi {
    display: flex;
    align-items: center;
    margin-bottom: 2.5vh;
    z-index: 1;
    line-height: 16px;
}
.titleProductChupi {
    position: absolute;
    top: 42%;
    left: 11.5vw;

    font-size: 1.5rem;
}
.flexTitleChupi {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-right: 20%;
    margin-left: 20%;
}