.fondoimagen1 {
    position: -webkit-sticky;
    position: fixed;

    top: 0;
    width: 101vw;
    min-height: 100vh;

    z-index: 1;
}

.fondoCocktailsSpecials1 {
    background-image: var(--bg_Drinks);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    /* align-items: center; */

    width: 101vw;
    min-height: 100vh;
}

/* .fondoCocktailsSpecials2 {
    background-image: url("/assets/backgrounds/cocktailsSpecials/bgCocktailsEspeciales2.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    display: flex;
    justify-content: center;

    min-height: 100vh;
}

.fondoCocktailsSpecials3 {
    background-image: url("/assets/backgrounds/cocktailsSpecials/bgCocktailsEspeciales3.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    display: flex;
    justify-content: center;

    min-height: 100vh;
}

.fondoCocktailsSpecials4 {
    background-image: url("/assets/backgrounds/cocktailsSpecials/bgCocktailsEspeciales4.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: relative;
    display: flex;
    justify-content: center;

    min-height: 100vh;
} */

.logoCocktailsSpecials {
    z-index: 800;
}

.h1CocktailsSpecialsConLogo {
    font-family: var(--fontFamily);
    color: white;
    text-shadow: var(--borderTitle);

    text-align: center;

    margin-top: 3vh;

    font-size: 1.8rem;
}

.coctel {
    font-family: var(--fontFamily);
    color: white;
    text-shadow: var(--borderTitle);

    /* text-align: center; */
    display: flex;
    /* justify-content: center; */
    align-items: center;

    margin-top: 3vh;
    margin-bottom: 2vh;
    margin-left: 15vw;

    position: relative;
}

.titleCoctel {
    font-size: 1.5rem;
    margin-bottom: 1.5vh;
}

.descLine {
    margin-bottom: 1.5%;
}

.finalPrice{
    display: flex;
    align-items:flex-end ;

    position: absolute;
    right: 14vw;
}

.precioFinal {
    font-size: 1.8rem;
    margin-right: 7%;
}